@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');



.padre1{
    
    overflow: auto;
    height: 98px;
}

.boton1 {

    margin-top: 24px;
    left: 72px;
    width: 108px;
    height: 48px;
    background-color: #F5F7FB;
    color: black;
    border: 1px solid #F5F7FB;
    position: sticky;


}

.flecha {
    top: 11px;
    left: 17px;
    position: absolute;
    opacity: 1;
}

.textoBoton1 {
    top: 15px;
    left: 42px;
    width: 48px;
    height: 20px;
    color: #04004B;
    opacity: 1;
    position: absolute;
}

.boton2 {
    margin-top: 24px;
    left: 1108px;
    width: 100px;
    height: 48px;
    background-color: #F5F7FB;
    color: black;
    border: 1px solid #F5F7FB;
    position: absolute;
}

.salir {
    top: 11px;
    left: 17px;
    position: absolute;
    opacity: 1;
}

.textoBoton2 {
    top: 15px;
    left: 49px;
    width: 40px;
    height: 20px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--blue_-04004b);
    text-align: left;
    letter-spacing: 0px;
    color: #04004B;
    opacity: 1;
    position: absolute;
}

.padre2 {

    width: 1280px;
    height: 800px;
    text-align: center;
}

.img1{
    margin-top: 24px;
}

.texto1 {
    font-size: 24px;
    height: 24px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--black_-181e27_titulo-de-inputs);
    text-align: center;
    letter-spacing: 0px;
    color: #181E27;
    opacity: 1;
}

.texto2 {

    top: 288px;
    left: 322px;
    width: 637px;
    height: 40px;
    margin-top: 24.14px;
    margin-left: 322px;
    font-size: 16px;
    letter-spacing: 0px;
    letter-spacing: 0px;
    color: #04004B;
    opacity: 1;

}
.borde{
    margin-top: 32px;
    top: 448px;
    left: 548px;
    width: 184px;
    height: 184px;    
    border: 1px solid var(--red_-ff453e);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FF453E;
    border-radius: 23px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}

.img2{
    margin-top: 5px;
    width: 160px;
    height: 168px;
    
}

.caution{
    width: 16px;
    height: 16px;
    top: 668px;
    left: 536px;
    position: absolute;

}

.error{
    width: 192px;
    height: 28px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: 532px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--red_-ff453e);
    text-align: center;
    font-size: 12px;
    letter-spacing: 0px;
    color: #FF453E;
    opacity: 1;
}

.boton3 {
    margin-top: 80px;
    border-top: 80px;
    width: 440px;
    height: 48px;
    background: var(--red_-ff453e) 0% 0% no-repeat padding-box;
    background: #FF453E 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #A801014D;
    border-radius: 30px;
    opacity: 1;
}

.textoBoton3 {
    
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

html{
    background: var(--blue_-f5f7fb_fondos) 0% 0% no-repeat padding-box;
    background: #F5F7FB 0% 0% no-repeat padding-box;
    opacity: 1;
}
*{
    font-family: sans-serif;
}


